$breakpoint-s: 'max-width: 640px';
$breakpoint-m: 'min-width: 960px';
$breakpoint-l: 'min-width: 1264px';
$breakpoint-xl: 'min-width: 1904px';

$base-padding-x: 135px;

$primary-green: #388E5B;
$primary-orange: #FE7664;